@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
.notosanskr * {
  font-family: "Noto Sans KR", sans-serif;
}

html,
body {
  width: 100%;
  margin: 0;
  font-size: 10px;
}

* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  word-break: break-all;
}

button {
  cursor: pointer;
}
