.header {
  width: 100%;
  height: 20rem;
  background: #000000;
}

.topBanner {
  position: relative;
  margin: 0 auto;
  width: 98rem;
  height: 8rem;
  cursor: pointer;
}

.close-button {
  display: inline;
  position: relative;
  width: 1.6rem;
  height: 1.6rem;
  cursor: pointer;
  outline: none;
  transform: translate(95rem, -7rem);
  z-index: 1;
}

.header-wrap {
  background-color: #fff;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  height: 5.7rem;
  margin: 0 auto;
  padding: 5.5rem 2rem 5rem 4rem;
  background: #fff;
}

.header-top .logo {
  width: 11.7rem;
}

.header-top span {
  font-size: 1.6rem;
  letter-spacing: 0.6rem;
  font-weight: 300;
  transform: translate(-7rem, 1.3rem);
}

.hyundaicard-promotion {
  position: relative;
  left: 6rem;
  width: 13rem;
  height: 3.9rem;
}

.header-top .personal-menu-wrap {
  position: relative;
  right: -2rem;
  width: 30%;
}

.header-top .personal-menu-wrap ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top .personal-menu-wrap ul li {
  width: 15%;
}

.header-top .personal-menu-wrap ul li a {
  width: 100%;
  color: #222;
}

.personal-menu-wrap img {
  width: 3.7rem;
}
.header-top .personal-menu-wrap ul li a span {
  position: relative;
  top: -0.2rem;
  left: -0.4rem;
  font-size: 1.3rem;
  letter-spacing: 0.4px;
  white-space: nowrap;
}

.header-top .personal-menu-wrap ul li:nth-child(1) a span {
  left: 0;
}

.horizon-line {
  position: relative;
  width: 100%;
  height: 0.3px;
  background-color: #cacaca;
}

.vertical-line {
  position: relative;
  width: 0.1rem;
  height: 28rem;
  background-color: #eee;
}

/* gnb menu */

.gnb-menu-wrap {
  position: relative;
  left: 50%;
  width: 98rem;
  transform: translateX(-50%);
}

.gnb-menu-wrap nav.gnb-menu {
  display: flex;
  justify-content: space-between;
}

.gnb-menu-wrap nav.gnb-menu ul li {
  display: inline-block;
  padding: 1.5rem 2rem;
  list-style: none;
}

.gnb-menu-wrap nav.gnb-menu ul li:nth-child(3) a {
  color: #fb4357;
  font-weight: 700;
}

.gnb-menu-wrap nav.gnb-menu ul li a {
  font-size: 1.6rem;
  font-weight: 500;
  color: #222;
}

.input-wrap {
  display: inline;
  padding: 1rem;
  z-index: 1;
}

.input-wrap-label img {
  position: relative;
  top: 0.5rem;
  width: 2.4rem;
  height: 2.4rem;
}

.input-wrap:before,
.input-wrap:after {
  position: relative;
  content: "a";
  left: 0;
  width: 1px;
  height: 5px;
  background-color: black;
  color: #cacaca;
}

.input-wrap:before {
  margin-right: 1rem;
}

.input-wrap:after {
  margin-left: 0.6rem;
}

.input-wrap input {
  border: none;
  outline-color: #cacaca;
}

/* gnb dropdown */

.gnb-menu-dropdown {
  display: none;
  position: relative;
  width: 98rem;
  top: 0.3rem;
  left: 0;
  margin: 0 auto;
  background-color: #fff;
  z-index: 10;
}

.gnb-menu-dropdown ul {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.gnb-menu-dropdown ul li {
  margin: 0;
  font-size: 1.4rem;
  margin: 1rem 1.5rem 0 2.5rem;
  color: #666;
  font-weight: 400;
}

.gnb-menu-dropdown ul li:nth-child(1) {
  color: #222222;
  font-weight: 500;
  margin: 0;
  padding-top: 1.5rem;
  padding-left: 2.3rem;
}

.main {
  position: relative;
  top: 4rem;
  height: 49.8rem;
  background: #000;
  border-top: 3px solid #fb4357;
}

.contents {
  width: 98rem;
  height: 100%;
  margin: 0 auto;
}

.video-wrap {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.video-wrap::before {
  position: absolute;
  content: "";
  color: white;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-image: linear-gradient(
    to right,
    #000 0%,
    rgba(0, 0, 0, 0.25) 25%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.25) 75%,
    #000 100%
  );
}

.video-wrap video {
  object-fit: contain;
  position: relative;
  width: 100%;
  height: 100%;
  transform: scale(1.35);
  z-index: 1;
}

.movie-title {
  position: relative;
  top: -32rem;
  left: 11rem;
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
  text-shadow: 2px 2px 4px rgb(0 0 0 / 72%);
  z-index: 3;
}

.movie-text {
  position: relative;
  top: -30rem;
  left: 4.5rem;
  color: #fff;
  white-space: pre;
  font-size: 2rem;
  text-shadow: 2px 2px 4px rgb(0 0 0 / 72%);
  z-index: 3;
}

.video--controller-wrap {
  display: inline-flex;
  align-items: center;
  position: relative;
  top: -15rem;
  left: 38rem;
  color: white;
  z-index: 3;
}

.view-detail-wrap {
  padding: 0.6rem 1rem 0.6rem 1.6rem;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.8)
    url("./../images/common/ico/arrowR_8x13.png") calc(100% - 11px) center/8px
    13px scroll no-repeat;
}

.view-detail-wrap a {
  font-size: 1.4rem;
  color: #343434;
  text-decoration: none;
}

.view-detail-wrap img {
  width: 0.8rem;
  height: 1.1rem;
  margin-left: 0.7rem;
}

.video--controller-wrap > button {
  background-color: transparent;
  width: 2.8rem;
  height: 2.8rem;
  padding: 0.5rem;
  margin-left: 1rem;
  border: 1px solid #979797;
  border-radius: 50%;
}

.video--controller-wrap > button img {
  width: 1.5rem;
  height: 1.5rem;
}
