/* Tablet */
@media screen and (max-width: 1024px) {
  .header-wrap .header-top {
    width: 100%;
  }

  figcation strong.movie-title {
    left: 3rem;
  }

  figcation span.movie-text {
    left: -3.5rem;
  }

  .video--controller-wrap {
    top: -16rem;
    left: 4.5rem;
  }

  .familysite-wrap {
    right: 4rem;
  }

  .woori-promotion-wrap img {
    left: 0;
  }

  .fixed-button {
    right: 4rem;
    bottom: 8rem;
  }
}
