.gnb-menu-dropdown.is-active {
  display: flex;
  height: 33.5rem;
  animation: fade-in 0.8s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

.gnb-menu-dropdown.is-active .main {
  border-top: 1px solid #fb4357;
}

.fixed-button.is-active {
  opacity: 1;
}

.fixed-button.is-active a {
  animation: fade-in-button 0.4s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}
