@keyframes swiper-slide-event-notice {
  0%,
  30% {
    transform: translateX(0%);
  }
  50%,
  70%,
  90%,
  100% {
    transform: translateX(-210px);
  }
}

@keyframes swiper-slide {
  0%,
  30% {
    transform: translateX(0%);
  }
  50%,
  70%,
  90%,
  100% {
    transform: translateX(-33.5rem);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    height: 0;
  }

  30% {
    opacity: 0;
    height: 0;
  }
}

@keyframes fade-in-button {
  0% {
    opacity: 0;
    right: -6rem;
  }
  30% {
    opacity: 0;
    right: -6rem;
  }
}
